<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="header">
    <div class="container">
        <h2><a href="#"><img src="/templates/default/images/logo.jpg"></a>
        </h2>
        <ul class="logo">
            <li>
                <span><img src="/templates/default/images/logo-1.png"></span>
                <p>质量第一</p>
            </li>
            <li>
                <span><img src="/templates/default/images/logo-2.png"></span>
                <p>安全第一</p>
            </li>
            <li>
                <span><img src="/templates/default/images/logo-3.png"></span>
                <p>文明施工</p>
            </li>
            <li>
                <span><img src="/templates/default/images/logo-4.png"></span>
                <p>信誉至上</p>
            </li>
        </ul>
        <i class="icon-daohang iconfont" id="right-menu"></i>
    </div>
</div>
<menu>
    <ul class="container">
        <li>
            <p><a href="">首页</a>
            </p></li>
    </ul>
</menu>


<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
